body {
    font-family: sans-serif, Arial, Helvetica;
    margin: 0;
    min-height: 100vh;
    background-color: hsl(0, 0%, 50%);
}

.calcBox {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 15%);
    height: 650px;
    width: 450px;
    margin: auto;
    margin-top: 200px;
    border-radius: 20px;
    box-shadow: 5px 5px 12px rgba(0,0,0,.7);
}

#display {
    height: 85px;
    width: 375px;
    border-radius: 15px;
    margin: 40px 45px;
    border: none;
    font-size: 30px;
}

#input {
    font-size: 20px;
    margin: 10px;
}

#sum {
    font-size: 30px;
    margin: 5px;
}

.buttons {
    padding-left: 50px;
    height: 375px;
    width: 400px;
    flex-wrap: wrap;
    margin: auto;
    padding-bottom: 80px;
}

button {
    margin: 5px;
    height: 75px;
    width: 75px;
    border-radius: 50px;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
}

button:hover{
    background-color: hsl(0, 0%, 83%);
}

button:active {
    background-color: hsl(0, 0%, 93%);
    
}

#equal {
    width: 165px;
}

#right {
    background-color: orange;
}

#right:hover {
    background-color: hsl(39, 100%, 40%);
}

#right:active {
    background-color: hsl(39, 100%, 50%);
}